RewriteEngine On
RewriteBase /electronicShop/public/

# Sécurité : Empêche de lister le contenu des dossiers 
Options -Indexes

# SEO : Some SE prefer to read xml 
RewriteRule ^sitemap\.xml$ sitemap.php [L]

# SEO : Redirection vers index.php pour les Friendly URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L,B]


# Sécurité : Bloquer l'accès aux fichiers sensibles
<FilesMatch "\.(env|sql|log|ini)$">
    Require all denied
</FilesMatch>

# Bloquer l'accès au fichier de config
<Files "db_config.php">
    Require all denied
</Files>

# Pages d'erreur personnalisées
ErrorDocument 404 /index.php?page=404
ErrorDocument 403 /index.php?page=403